#intro {
    background-image: url(../assets/images/Background_Intro.png);
    background-size: 1366px;
    object-fit: cover;
    padding-block: 120px;

    div:nth-child(1) {
        justify-content: center;
        position: relative;
    }
    
    div > img {
        width: 87px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        padding: 3px;
        border: 2px solid var(--red);
    }

    div #icon-code {
        background-image: url(../assets/icons/Code.svg);
        width: 36px;
        aspect-ratio: 1/1;
        position: absolute;
        left: 50.5%;
        top: 70%;
    }

    #intro-texts p {
        max-width: 680px;
    }

    #intro-texts .paragraph {
        color: var(--gray-300);
    }

    div:nth-child(2) {
        justify-items: center;
    }

    div p:nth-child(1) {
        padding-top: 56px;
        font: var(--subtitle);
        color: var(--gray-200);
    }

    div p:nth-child(1) span {
        color: var(--red);
    }

    div h1 {
        font: var(--title-lg);
        margin-bottom: 24px;
    }

    div:nth-child(3) {
        justify-content: center;
        gap: 8px;
        padding-block: 80px;

        span {
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: center;
            background-color: var(--gray-400);
            gap: 8px;
            border-radius: 999px;
            padding: 8px 16px;

            img {
                width: 24px;
                aspect-ratio: 1/1;
                object-fit: cover;
            }

            p {
                font: var(--text-md);
            }
        }
    }

    div:nth-child(4) {
        background-image: url(../assets/icons/CaretDoubleDown.svg);
        width: 32px;
        aspect-ratio: 1/1;
        object-fit: cover;
        justify-self: center;
        padding-top: 14px;
    }

}